
<div class="panel panel-default pull-left ">
	<div class="row">
		<div class="col-sm-6">
			<%= image_tag @pin.image.url, class: "show-image" %>
		</div>
	</div>
	<div class="show-info">
		<p>
		  <h3 class="sr-only">Description:</h3>
		  <h3><%= @pin.description %><h3>
		</p>
		<div class="pull-right">
			<% if @pin.user == current_user %>
				<%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-xs btn-info" %>
			<% end %>
			<%= link_to 'Back', pins_path, class: "btn btn-xs btn-info" %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>