.container
	.row.mb-40
		.col-sm-8
			%h1 About us
			%p We are working to provide you state of the art design for your website, web application and apps!
	
	.row.mb-20
		.col-sm-4 
			%h2 Meet the team

	.row
		.col-sm-12
			.col-sm-3.mb-40
				.jumbotron
					= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
					.info
						%h4 Jo達o Pagnoncelli
						%p Lead Designer
			.col-sm-3.mb-40
				.jumbotron
					= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
					.info
						%h4 Jo達o Pagnoncelli
						%p Lead Designer
			.col-sm-3.mb-40
				.jumbotron
					= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
					.info
						%h4 Jo達o Pagnoncelli
						%p Lead Designer
			.col-sm-3.mb-40
				.jumbotron
					= image_tag "jp.png", class: "img-responsive img-circle image-float", width: 120
					.info
						%h4 Jo達o Pagnoncelli
						%p Lead Designer
	.row				
		.col-md-4
			.panel
				%h2.center See what we are doing in real time!
				.warning.center
					=image_tag "social.png", class: "img-responsive img-center", width: 250
		.col-md-4
			.panel
				%h2.center See what we are doing in real time!
				.warning.center
					=image_tag "social.png", class: "img-responsive img-center", width: 250
		.col-md-4	
			.panel
				%h2.center See what we are doing in real time!
				.warning.center
					=image_tag "social.png", class: "img-responsive img-center", width: 250
						
