<h1>About us</h1>

<p>We are working on our One Month Rails Pinteresting app!</p>

<div class="row">
	<div class="col-xs-3">
		<%= image_tag "kush.png",  class: "img-rounded" %>
	</div>
	<div class="col-info col-xs-4">
		<h4>João Pedro Pagnoncelli</h4>
		<h5>Lead designer</h5>
		<p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
	</div>

</div>
