<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<div class="row pad20">
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg "  %>
		<%= link_to "More Info", "#", class: "btn btn-danger btn-lg"  %>
	</div>

</div>
